﻿
@{
    ViewBag.Title = "GetTriangleType";
}

<h2>GetTriangleType</h2>
<table>
    <tr>
        <td>
            Enter side 1 
            <h3>Side1 :@ViewData["result"]</h3>
        </td>
    </tr>
    <tr>
        <td>
            Enter the side 2
            <h3>Side2 :@ViewData["result"]</h3>
        </td>
    </tr>
    <tr>
        <td>
            Enter the side 3
            <h3>Side3 :@ViewData["result"]</h3>
        </td>
    </tr>
</table>

