﻿<table>
    <tr>
        <td>
            Enter the side 1
        </td>
    </tr>
    <tr>
        <td>
            Enter the side 2
        </td>
    </tr>
    <tr>
        <td>
            Enter the side 3
        </td>
    </tr>

</table>